.card-header{
    color: white;
}
.screen{
    display: flex;
    justify-content: center;
}
.screen input{
    width: 100%;
    height: 40px;
    border: none;
    background-color: darkslategray;
    color: white;
}

.card-header{
    justify-content: center;
   
}
.keyPad{
     display: flex;
    justify-content: center;
}
table{
    
    width:100%;
}
td{
    border: 2px solid rgb(66, 66, 66);
    background-color: black;
    
}
td .btns{
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
}