body {
  display: flex;
  justify-content: center0;
}
input {
  height: 60px;
  border: 0;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-size: 50px;
}

.card-body {
  padding: 12px 4px;
}

.btn_custom {
  width: 60px;
  height: 50px;
  font-size: larger;
  font-weight: bolder;
  color: white;
}

table {
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-evenly;
}
